ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
		position: relative;
		width: 100%;
	}
	li {
		float: left;
		border-right: 1px solid #bbb;
	}
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	li a:hover:not(.active) {
		background-color: #111;
	}
	li:last-child {
		border-right: none;
	}
	.active {
		background-color: #4CAF50;
	}
	#Para{
		position: relative;
	}