ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
		position: relative;
		width: 100%;
	}
	li {
		float: left;
		border-right: 1px solid #bbb;
	}
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	li a:hover:not(.active) {
		background-color: #111;
	}
	li:last-child {
		border-right: none;
	}
	.active {
		background-color: #4CAF50;
	}

.container {
  position: relative;
  height: 14rem;
  border: 1px solid;
  background-color:#a2d0ea;

}

.jumbotron {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 1px dashed;
  top: 800px;  
}
body{
    /*background-color:#a2d0ea;*/
    background:url('details.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
