body{
	background-image: url("lolol.jpg");
}
title{
	font-family: Myriad Pro;
	font-weight: bolder;
}
h2{
	font-family: Myriad Pro;
	font-weight: bolder;
}
h3{
	font-family: Myriad Pro;
font-weight: bolder;
}
p{
	font-family: Myriad Pro;
	font-weight:bold;
}
h1{
	font-family: Myriad Pro;
	font-weight:bold;
}